<h2>Sign up Confirmation</h2>
<h3>Are you sure these values are correct?</h3>
<div class="row">
   <div class="col-md-8">
       
    
    <div><h4>Email: <%= @user.email %></div></h4>
        
    <div><h4>Name: <%= @user.name %></div></h4>
    
    <%#= form_for @user do |f| %>
    <%#= f.hidden_field :name %>
    <!--<div class="form-group">-->
         <%#= f.submit "Yes", class: 'btn btn-success' %>
    <!--   </div>-->
    <%# end %>
    
    
    <style> .button_to{
      display: inline-block;
     }</style>
    
      <div "container">
        <%= button_to "Yes", {:controller => "users", :action => "create", :params => params}, class: 'btn btn-success' %>
          <%= button_to "No", new_user_path, method: :get, class: 'btn btn-failure'%>
      </div>
  </div>
</div>