// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
    position: static;
    width: 5px;
    border: 5px;
    padding: 5px;
    margin: 0;
    background: #0066CC;
    color: #FFFFFF;
}